WebUI/App_WebReferences/WCFServiceReference/OSAE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSAE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSAE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOSAEObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OSAEObject" nillable="true" type="tns:OSAEObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOSAEObject" nillable="true" type="tns:ArrayOfOSAEObject" />
  <xs:complexType name="OSAEObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Container" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Methods" nillable="true" type="tns:ArrayOfOSAEMethod" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfOSAEObjectProperty" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:OSAEObjectState" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEObject" nillable="true" type="tns:OSAEObject" />
  <xs:complexType name="ArrayOfOSAEMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OSAEMethod" nillable="true" type="tns:OSAEMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOSAEMethod" nillable="true" type="tns:ArrayOfOSAEMethod" />
  <xs:complexType name="OSAEMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEMethod" nillable="true" type="tns:OSAEMethod" />
  <xs:complexType name="ArrayOfOSAEObjectProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OSAEObjectProperty" nillable="true" type="tns:OSAEObjectProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOSAEObjectProperty" nillable="true" type="tns:ArrayOfOSAEObjectProperty" />
  <xs:complexType name="OSAEObjectProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEObjectProperty" nillable="true" type="tns:OSAEObjectProperty" />
  <xs:complexType name="OSAEObjectState">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimeInState" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEObjectState" nillable="true" type="tns:OSAEObjectState" />
</xs:schema>