Manager_WPF/Service References/WCFServiceReference/OSAE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSAE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSAE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOSAEObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OSAEObject" nillable="true" type="tns:OSAEObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOSAEObject" nillable="true" type="tns:ArrayOfOSAEObject" />
  <xs:complexType name="OSAEObject">
    <xs:sequence>
      <xs:element name="_address" nillable="true" type="xs:string" />
      <xs:element name="_baseType" nillable="true" type="xs:string" />
      <xs:element name="_container" nillable="true" type="xs:string" />
      <xs:element name="_description" nillable="true" type="xs:string" />
      <xs:element name="_enabled" type="xs:int" />
      <xs:element name="_lastUpd" nillable="true" type="xs:string" />
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element name="_state" nillable="true" type="tns:OSAEObjectState" />
      <xs:element name="_type" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Methods_x003E_k__BackingField" nillable="true" type="tns:ArrayOfOSAEMethod" />
      <xs:element name="_x003C_Properties_x003E_k__BackingField" nillable="true" type="tns:ArrayOfOSAEObjectProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEObject" nillable="true" type="tns:OSAEObject" />
  <xs:complexType name="OSAEObjectState">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimeInState" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEObjectState" nillable="true" type="tns:OSAEObjectState" />
  <xs:complexType name="ArrayOfOSAEMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OSAEMethod" nillable="true" type="tns:OSAEMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOSAEMethod" nillable="true" type="tns:ArrayOfOSAEMethod" />
  <xs:complexType name="OSAEMethod">
    <xs:sequence>
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MethodName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ObjectName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Owner_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Parameter1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Parameter2_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEMethod" nillable="true" type="tns:OSAEMethod" />
  <xs:complexType name="ArrayOfOSAEObjectProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OSAEObjectProperty" nillable="true" type="tns:OSAEObjectProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOSAEObjectProperty" nillable="true" type="tns:ArrayOfOSAEObjectProperty" />
  <xs:complexType name="OSAEObjectProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEObjectProperty" nillable="true" type="tns:OSAEObjectProperty" />
</xs:schema>