UI/Manager/Service References/WCFService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OSAE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OSAE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOSAEObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OSAEObject" nillable="true" type="tns:OSAEObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOSAEObject" nillable="true" type="tns:ArrayOfOSAEObject" />
  <xs:complexType name="OSAEObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Container" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfObjectProperty" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:ObjectState" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OSAEObject" nillable="true" type="tns:OSAEObject" />
  <xs:complexType name="ArrayOfObjectProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectProperty" nillable="true" type="tns:ObjectProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectProperty" nillable="true" type="tns:ArrayOfObjectProperty" />
  <xs:complexType name="ObjectProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectProperty" nillable="true" type="tns:ObjectProperty" />
  <xs:complexType name="ObjectState">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimeInState" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
</xs:schema>